




<div class="input-group">
  <input type="text" class="form-control" placeholder="Random Password" value="{{password}}" id ="yourInput" disabled >
  <div class="input-group-append" id="button-addon4">
    <button class="btn btn-outline-secondary" type="button" onclick="passFunc()">Copy</button>
  </div>
</div>

<br><button type="button" class="btn btn-secondary btn-lg btn-block" onclick="window.location.reload()">Generate Random Password</button>


<br>
<br>

<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">Random Password Generator</h1>
    <p class="lead">You get at least one number and one uppercase letter</p>
  </div>
</div>